@import url("https://use.typekit.net/nxl2ord.css");

*{
    box-sizing: border-box;
    margin: 0;
  }


    :root {
      /* farver */
      --lightgreen: #A5BCB1;
      --darkgreen: #105C4C;
      --black: #000000;
      --white: #ffffff;

       /* fonte */
       --menu: Rift soft, regular;
    }

      html, body{
        width: 100%;
        height: 100%;
        margin: 0;
      }


    h1{
      font-family: basic-sans, sans-serif;
      font-weight: 600;
      font-size: 100px;
    }

    h2{
      font-family: basic-sans, sans-serif;
      font-weight: 600;
      font-size: 60px;
      }

   h3{
      font-family: basic-sans, sans-serif;
      font-weight: 600;
      font-size: 30px;
  }

  h6{
    font-family: basic-sans, sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
  }

  p{
    font-family: basic-sans, sans-serif;
    font-weight: 400;
    font-size: 20px;
  }

  .errortekst {
    text-align: center;
    font-size: 60px;
    margin-top: 10px;
  }

.error{
  color:#105C4C ;
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
  
}

.ptekst {
  text-align: center;
  margin-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.palle404 {
  width: 100%;
  height: 100%;
  margin-top: 30px;

}


/* Chat */
/* Knap til at åbne chatten, og holde den fixed */
.open-button {
  background-color: #105C4C;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 150px;
  border-radius: 25px;
}

/* Popup chatten - skjult default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid white;
  z-index: 9;
  border-radius: 30px;
}

/* Styles til form-containeren */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  border-radius: 25px;
}

/* Tekstområde*/
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
  font-family: basic-sans, sans-serif;
  border-radius: 25px;
}

/* Når tekstområdet aktiveres*/
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Style af send knappen */
.form-container .btn {
  background-color: #105C4C;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  font-family: basic-sans, sans-serif;
  border-radius: 25px;
}

/* Style af annuller knappen */
.form-container .cancel {
  background-color: #A5BCB1;
  font-family: basic-sans, sans-serif;
  border-radius: 25px;
}

/* Hover effekt på alle knapperne*/
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/*Mediarules*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .palle404 {
    width: 500px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .palle404 {
    width: 700px;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
.palle404 {
  width: 800px;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .palle404grafik {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  }
}