*{
    box-sizing: border-box;
    margin: 0;
  }
  
  
    :root {
      /* farver */
      --lightgreen: #A5BCB1;
      --darkgreen: #105C4C;
      --black: #000000;
      --white: #ffffff;
  
       /* fonte */
       --menu: Rift soft, regular;
    }
  
      html, body{
        width: 100%;
        height: 100%;
        margin: 0;
      }
    
      
      h1{
        font-family: basic-sans, sans-serif;
        font-weight: 700;
      }
      
      h2{
        font-family: basic-sans, sans-serif;
        font-weight: 700;
        font-size: 60px;
        }
    
     h3{
        font-family: basic-sans, sans-serif;
        font-weight: 700;
        font-size: 30px;
    }
    h4{
      font-family: basic-sans, sans-serif;
      font-weight: 400;
      font-size: 25px;
    }
    
    p{
        font-family: basic-sans, sans-serif;
        font-weight: 400;
        font-size: 16px;
  }

  /*Mediarules*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
  }
  
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {

  }
  
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {

  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {

  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
  
  }

  .overalt{
    display: flex;
    flex-direction: row;
  }

  .overbillederne{
    width: 70%;
    height: 80vh;

  }

  .bildfix{
    position: fixed;
    width: 70%;
  }
  .overmenu{
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  .ikon{
    width: 100px;
  }

  .btnknap{
    width: 150px;
    height: 70px;
    border: none;
    background-color: white;
    border-radius: 30px;
    box-shadow: 1px 3px 7px 0px rgba(132, 132, 132, 0.75);
    -webkit-box-shadow: 1px 3px 7px 0px rgba(174, 174, 174, 0.75);
    -moz-box-shadow: 1px 3px 7px 0px rgba(126, 126, 126, 0.75);
  }

  .btnknapmadras{
    width: 120px;
    height: 70px;
    border: none;
    background-color: white;
    border-radius: 30px;
    box-shadow: 1px 3px 7px 0px rgba(132, 132, 132, 0.75);
    -webkit-box-shadow: 1px 3px 7px 0px rgba(174, 174, 174, 0.75);
    -moz-box-shadow: 1px 3px 7px 0px rgba(126, 126, 126, 0.75);
  }

  .slebet{
    width: 50px;
    height: 50px;
    border-radius: 90px;
  }

  
  .knapperne{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    align-self: center;
  }

  .knappernehjul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 400px;
    align-self: center;
  }

  .overskrifttilsort{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  

  .underteksterne{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .underteksternerygpude{
    text-align: center;
    margin-top: 20px;
  }

  .overskriftpris{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

  }

  .rundompris{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 30px;
  }

  .designselv{
    font-size: 40px;
  }

  .fortryd{
    color: #105C4C;
    font-size: 16px;
    width: 80px;
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: #ffffff;
    box-shadow: 1px 3px 7px 0px rgba(132, 132, 132, 0.75);
    -webkit-box-shadow: 1px 3px 7px 0px rgba(174, 174, 174, 0.75);
    -moz-box-shadow: 1px 3px 7px 0px rgba(126, 126, 126, 0.75);
  }

  .ryglaen{
    width: 60px;
  }

  .hynndefarver{
    width: 50px;
    border-radius: 50px;
  }

  .farver{
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: none;
    background-color: white;
    border-radius: 30px;
    box-shadow: 1px 3px 7px 0px rgba(132, 132, 132, 0.75);
    -webkit-box-shadow: 1px 3px 7px 0px rgba(174, 174, 174, 0.75);
    -moz-box-shadow: 1px 3px 7px 0px rgba(126, 126, 126, 0.75);
  }

  .slebetikon{
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: none;
    background-color: white;
    border-radius: 30px;
    box-shadow: 1px 3px 7px 0px rgba(132, 132, 132, 0.75);
    -webkit-box-shadow: 1px 3px 7px 0px rgba(174, 174, 174, 0.75);
    -moz-box-shadow: 1px 3px 7px 0px rgba(126, 126, 126, 0.75);
    margin-left: 10px;
    margin-right: 10px;
  }

  .streg{
    width: 2px;
    background-color: rgba(132, 132, 132, 0.75);;
    height: 100%;
    transform: rotate(30deg);
  }

  #bestillinger{
    font-family: basic-sans, sans-serif;
    font-weight: 700;
    font-size: 20px;
  }

  .afstandtekst{
    margin-top: 100px;
  }

  .knapperneslebet{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.contentbeskrivelse {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 800px;
  height: 500px;
  border-radius: 25px;
  border: none;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#palleBtn{
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background-color: var(--darkgreen);
  color: white;
  margin-top: 50px;
  margin-bottom: 180px;
}

.rundtomknap{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.rundtomcontent{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.contentbilleder{
  width: 200px;
  height: 100px;
  background-color: #A5BCB1;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.firstcontent{
  width: 200px;
  height: 400px;
}

.firstcontentryglaen{
  width: 300px;
  height: 400px;
}
.storbillede{
  width: 150px;
}

.afstandmodul{
  margin-top: 20px;
}
.sortbg{
  background-color: #000;
}


/* Ryglæn popup */

.modals {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.contentbeskrivelseryg {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 800px;
  height: 500px;
  border-radius: 25px;
  border: none;
}

/* The Close Button ryglæn */
.closeing {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeing:hover,
.closeing:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.billederyg{
  width: 300px;
}

#rygBtn{
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background-color: var(--darkgreen);
  color: white;
  margin-top: 50px;
  margin-bottom: 180px;
}

/* madras popup */

.modalsmadras {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.contentbeskrivelsemadras {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 800px;
  height: 500px;
  border-radius: 25px;
  border: none;
}

/* The Close Button madras */
.closemadras {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closemadras:hover,
.closemadras:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.billederyg{
  width: 300px;
}

#madrasBtn{
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background-color: var(--darkgreen);
  color: white;
  margin-top: 50px;
  margin-bottom: 180px;
}

.undedørs{
  width: 400px;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 10px;
  align-self: center;
}

.inden{
  width: 400px;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 10px;
  align-self: center;
}

.rundtomknappen{
  display: flex;
  flex-direction: column;
  width: 90px;
  font-size: 2px;
}

.betraektekst{
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
}

.plustegn{
  width: 20px;
  justify-content: center;
  align-items: center;
}

.ellersknap{
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: none;
  background-color: white;
  border-radius: 30px;
  box-shadow: 1px 3px 7px 0px rgba(132, 132, 132, 0.75);
  -webkit-box-shadow: 1px 3px 7px 0px rgba(174, 174, 174, 0.75);
  -moz-box-shadow: 1px 3px 7px 0px rgba(126, 126, 126, 0.75);
}

.rundtomellers{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  padding-right: 20px;
}

.ellerstakknap{
  display: flex;
}

/* betraæk popup */

.modalsbetraek {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.contentbeskrivelsebetraek {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 800px;
  height: 500px;
  border-radius: 25px;
  border: none;
}

/* The Close Button betræk */
.closebetraek {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closebetraek:hover,
.closebetraek:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#betraekBtn{
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background-color: var(--darkgreen);
  color: white;
  margin-top: 50px;
  margin-bottom: 180px;
}

.firstcontentbetraek{
  display: flex;
  flex-direction: column;
  width: 499px;
  height: 400px;
  justify-content: center;
  align-items: center;
}

/* puder popup */

.modalspude {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.contentbeskrivelsepude {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 800px;
  height: 500px;
  border-radius: 25px;
  border: none;
}

/* The Close Button puder */
.closepude {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closepude:hover,
.closepude:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#pudeBtn{
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background-color: var(--darkgreen);
  color: white;
  margin-top: 50px;
  margin-bottom: 180px;
}

.firstcontentpude{
  display: flex;
  flex-direction: column;
  width: 499px;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.opli{
  color: var(--darkgreen);
  text-align: center;
}

/* hjul popup */

.modalshjul {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.contentbeskrivelsehjul {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 800px;
  height: 500px;
  border-radius: 25px;
  border: none;
}

/* The Close Button puder */
.closehjul {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closehjul:hover,
.closehjul:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#hjulBtn{
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background-color: var(--darkgreen);
  color: white;
  margin-top: 50px;
}

.firstcontentpude{
  display: flex;
  flex-direction: column;
  width: 499px;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.btnlagikurv{
  width: 250px;
  height: 80px;
  border: none;
  border-radius: 50px;
  background-color: var(--darkgreen);
  color: white;
  margin-bottom: 180px;
  font-size: 25px;
  align-self: center;
}

.lagikurvtekst{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 5px;
}

