@import url("https://use.typekit.net/nxl2ord.css");

*{
    box-sizing: border-box;
    margin: 0;
  }
  
  
    :root {
      /* farver */
      --lightgreen: #A5BCB1;
      --darkgreen: #105C4C;
      --black: #000000;
      --white: #ffffff;
  
       /* fonte */
       --menu: Rift soft, regular;
    }
  
      html, body{
        width: 100%;
        height: 100%;
        margin: 0;
      }
    
      
      h1{
        font-family: basic-sans, sans-serif;
        font-weight: 700;
        font-size: 100px;
      }
      
      h2{
        font-family: basic-sans, sans-serif;
        font-weight: 700;
        font-size: 60px;
        }
    
     h3{
        font-family: basic-sans, sans-serif;
        font-weight: 700;
        font-size: 40px;
    }
    h4{
      font-family: basic-sans, sans-serif;
      font-weight: 600;
      font-size: 20px;
    }

    h6{
      font-family: basic-sans, sans-serif;
      font-weight: 600;
      font-size: 30px;
      text-align: center;
    }
    
    p{
        font-family: basic-sans, sans-serif;
        font-weight: 400;
        font-size: 20px;
  }


.dethele {
  border: 1px solid lightgray;
  margin: 5%;
}

.banner {
  background-color: #A5BCB1;
  width: 100%;
  height: 15%;
}

.tekstbanner {
  color: white;
  padding-top: 50px;
  text-align: center;
}

.tekstoverskrift {
  padding-top: 50px;
  text-align: center;
}

.rabatkode textarea {
  padding: 15px 15px;
  margin-right: 300px;
  margin-bottom: 20px;
  border: none;
  background: #f1f1f1;
  resize: none;
  font-family: basic-sans, sans-serif;
  border-radius: 25px;
  text-align: center;
}

.betalingsknap {
  border: none;
  color: white;
  padding: 15px 100px;
  margin-left: 900px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
  background-color: var(--darkgreen);
}

.knapperne {
  display: flex;
}

 /* Her vises produkterne - kurv siden*/

 .products-container{
    max-width: 650px;
    justify-content: space-around;
    margin-left: 300px;
    margin-top: 50px;
 }

 .products-container ion-icon{
  font-size: 25px;
  color: var(--darkgreen);
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.krydskurv {
  width: 10px;
 }


 .product-header{
  width: 150%;
  max-width: 1500px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid lightgrey;
  margin: 0 auto;
  font-family: Basic Sans;
  font-size: 25px;
 }

 .product-title{
   width: 45%;
 }

 .price{
   width: 15%;
   display: flex;
   align-items: center;
 }

 .total {
   width: 10%;
   display: flex;
   align-items: center;
 }

 .quantity{
  width: 30%;
  display: flex;
  align-items: center;
}

.product{
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

.products{
  border-bottom: 1px solid lightgrey;
  font-family: Basic Sans;
  font-size: 20px;
  width: 150%;
}

.products img {
  width: 85px;
}

.basketTotalContainer{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
}

.basketTotalTitle{
  width: 100px;
}

.basketTotal{
  width: 10%;
}


 /* Klimakompensation */
.klimakompensation{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  width: 975px;
  margin-left: 300px;
  margin-top: 15px;
}

.tekstogikonklima{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 65px;
}

.donerpenge{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 12px;
  margin-right: 190px;
}

.klimakompensation ion-icon{
  font-size: 25px;
  color: var(--darkgreen);
  margin-left: 10px;
  margin-right: 10px; 
  cursor: pointer;
}

.jordklode{
  margin-bottom: 15px;
  margin-right: 50px;
  width: 100px;
  height: 100px;
}

.kurvialtmedfragt{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 900px;
}

.fontweightekst{
  font-weight: 600;
}


.kurvialtmedfragt ion-icon{
  font-size: 25px;
  color: var(--darkgreen);
  margin-left: 10px;
  margin-right: 10px; 
  cursor: pointer;
}

.ikonogfragt{
  display: flex;
  flex-direction: row;
}

.totaltekstkurv{
margin-right: 25px;
}


/* I ved klimakompensation */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 200px;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 80%;
  border-radius: 25px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.overskriftklima {
  text-align: center;
}

/* I ved fragt */
/* The Modal (background) */
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 200px;
  
}

/* Modal Content */
.modal-content2 {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 80%;
  border-radius: 25px;
}

/* The Close Button */
.close2 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.overskriftklima {
  text-align: center;
}

/* Chat */
/* Knap til at åbne chatten, og holde den fixed */
.open-button {
    background-color: #105C4C;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 150px;
    border-radius: 25px;
  }
  
  /* Popup chatten - skjult default */
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid white;
    z-index: 9;
    border-radius: 30px;
  }
  
  /* Styles til form-containeren */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
    border-radius: 25px;
  }
  
  /* Tekstområde*/
  .form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
    font-family: basic-sans, sans-serif;
    border-radius: 25px;
  }
  
  /* Når tekstområdet aktiveres*/
  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Style af send knappen */
  .form-container .btn {
    background-color: #105C4C;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    font-family: basic-sans, sans-serif;
    border-radius: 25px;
  }
  
  /* Style af annuller knappen */
  .form-container .cancel {
    background-color: #A5BCB1;
    font-family: basic-sans, sans-serif;
    border-radius: 25px;
  }
  
  /* Hover effekt på alle knapperne*/
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }


  /*Mediarules*/
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {

    .dethele{
      display: flex;
      flex-direction: column;
    }

    .proveting{
      display: flex;
      flex-direction: column;
    }
  
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {

  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {  

  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {

  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {

  }

  .proveting{
    display: flex;
  }
