@import url("https://use.typekit.net/nxl2ord.css");

*{
    box-sizing: border-box;
    margin: 0;
  }
  
  
    :root {
      /* farver */
      --lightgreen: #A5BCB1;
      --darkgreen: #105C4C;
      --black: #000000;
      --white: #ffffff;
  
       /* fonte */
       --menu: Rift soft, regular;
    }
  
      html, body{
        width: 100%;
        height: 100%;
        margin: 0;
      }
    
      
      h1{
        font-family: basic-sans, sans-serif;
        font-weight: 700;
        font-size: 100px;
      }
      
      h2{
        font-family: basic-sans, sans-serif;
        font-weight: 700;
        font-size: 60px;
        }
    
     h3{
        font-family: basic-sans, sans-serif;
        font-weight: 700;
        font-size: 40px;
    }
    h4{
      font-family: basic-sans, sans-serif;
      font-weight: 600;
      font-size: 20px;
    }

    h6{
      font-family: basic-sans, sans-serif;
      font-weight: 600;
      font-size: 30px;
      text-align: center;
    }
    
    p{
        font-family: basic-sans, sans-serif;
        font-weight: 400;
        font-size: 20px;
  }

.banner {
  background-color: #A5BCB1;
  width: 100%;
  height: 15%;
}

.tekstbanner {
  color: white;
  padding-top: 50px;
  text-align: center;
}

.tekstoverskrift {
  padding-top: 50px;
  text-align: center;
}

.rabatkode textarea {
  width: 200px;
  height: 60px;
  border: none;
  background: #f1f1f1;
  resize: none;
  font-family: basic-sans, sans-serif;
  border-radius: 25px;
  text-align: center;
}

.betalingsknap {
  display: flex;
  width: 200px;
  height: 60px;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
  background-color: var(--darkgreen);
  justify-content: center;
  align-items: center;

}

.knapperne {
  display: flex;
}

 /* Her vises produkterne - kurv siden*/

 .products-container{
   width: 100%;
    justify-content: space-between;
    margin-top: 50px;
 }

 .products-container ion-icon{
  font-size: 25px;
  color: var(--darkgreen);
  cursor: pointer;
}

.krydskurv {
  width: 10px;
 }
 .priceover{
   width: 150px;
 }

 .total {
   display: flex;
   align-items: center;
   width: 100px;
 }

 .totalover {
  display: flex;
  align-items: center;
  width: 100px;
}
 .ingenpenge{
  display: flex;
  align-items: center;
  width: 100px;
 }

 .quantity{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100px;
}

.products{
  font-family: Basic Sans;
  font-size: 20px;
}

.products img {
  width: 85px;
}

.basketTotalContainer{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}


.tekstogikonklima{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.donerpenge{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100px;
  justify-content: space-between;
}

.klimakompensation ion-icon{
  font-size: 25px;
  color: var(--darkgreen);
  cursor: pointer;
}

.jordklode{
  margin-bottom: 15px;
  width: 85px;
  height: 85px;
}

.kurvialtmedfragt{
  display: flex;
  flex-direction: column;
}



#myBtn2 ion-icon{
  font-size: 25px;
  color: var(--darkgreen);
  margin-left: 10px;
  margin-right: 10px; 
  cursor: pointer;
}

.ikonogfragt{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.totaltekstkurv{
margin-right: 25px;
}


/* I ved klimakompensation */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 200px;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 80%;
  border-radius: 25px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.overskriftklima {
  text-align: center;
}

/* I ved fragt */
/* The Modal (background) */
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 200px;
  
}

/* Modal Content */
.modal-content2 {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 80%;
  border-radius: 25px;
}

/* The Close Button */
.close2 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.overskriftklima {
  text-align: center;
}

/* Chat */
/* Knap til at åbne chatten, og holde den fixed */
.open-button {
    background-color: #105C4C;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 150px;
    border-radius: 25px;
  }
  
  /* Popup chatten - skjult default */
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid white;
    z-index: 9;
    border-radius: 30px;
  }
  
  /* Styles til form-containeren */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
    border-radius: 25px;
  }
  
  /* Tekstområde*/
  .form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
    font-family: basic-sans, sans-serif;
    border-radius: 25px;
  }
  
  /* Når tekstområdet aktiveres*/
  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Style af send knappen */
  .form-container .btn {
    background-color: #105C4C;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    font-family: basic-sans, sans-serif;
    border-radius: 25px;
  }
  
  /* Style af annuller knappen */
  .form-container .cancel {
    background-color: #A5BCB1;
    font-family: basic-sans, sans-serif;
    border-radius: 25px;
  }
  
  /* Hover effekt på alle knapperne*/
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }


  /*Mediarules*/
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {

    .dethele{
      display: flex;
      flex-direction: column;
    }

    .proveting{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap
    }
    .product-header{
      display: none;
     }
     .price{
      display: none;
   }

   .flexpluspris{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .product{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    padding-right: 70px;
  }

  .produktnavnet{
    margin-top: 50px;
  }

  .inderrundt{
    padding-right: 50px;
  }

  .inderrundt{
    width: 100%;
    height: auto;
    padding: 10%;
  }

  .klimakompensation{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
} 

.rundtomjord{
  display: none;
}

.rundtomjordtekst{
  margin-top: 40px;
}

.rundtomjordtekst{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.rabatogbetal{
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rabatkode {
  margin-bottom: 20px;
  margin-top: 20px;
}

.tekstbanner{
  font-size: 20px;
}

.lillekomp{
  font-size: 18px;
  padding-bottom: 5px;
}
  
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .product-header{
      display: none;
     }
     .price{
      display: none;
   }

   .dethele{
    display: flex;
    flex-direction: column;
  }

  .product-header{
    display: none;
   }
   .price{
    display: none;
 }

 .flexpluspris{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.product{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  width: 100%;
  padding-right: 70px;
}

.produktnavnet{
  margin-top: 50px;
}

.inderrundt{
  padding-right: 50px;
}

.inderrundt{
  width: 100%;
  height: auto;
  padding: 10%;
}

.proveting{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap
}

.rundtomjord{
  display: none;
}

.rundtomjordtekst{
  margin-top: 40px;
}

.klimakompensation{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
} 

.rundtomjordtekst{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.rabatogbetal{
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rabatkode {
  margin-bottom: 20px;
  margin-top: 20px;
}

.tekstbanner{
  font-size: 30px;
}

  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) { 
    .product-header{
      display: none;
     }
     .price{
       display: none;
    }
    .produktnavnet{
      margin-top: 0px;
    }

    .dethele {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid lightgray;
      margin: 20px;
    }
  
    .flexpluspris{
      display: flex;
      flex-direction: row;
      width: 315px;
      justify-content: space-between;
    }
  
    .product{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      width: 200px;
    }
  
    .inderrundt{
      width: 100%;
      height: auto;
      padding: 2%;
    }
    .proveting{
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: nowrap;
    }

    .rundtomjord{
      width: 60px;
      display: block;
    }

    .rundtomjordtekst{
      margin-top: 0px;
    }

    .rundtomjordtekst{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 500px;
    }

     /* Klimakompensation */
    .klimakompensation{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     width: 100%;
     margin-top: 15px;
    } 

    .rabatogbetal{
      margin-top: 50px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }


  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .product-header{
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      font-family: Basic Sans;
      font-size: 20px;
      font-weight: 200;
      margin-bottom: 20px;
     }

     .price{
      display: flex;
      align-items: center;
      width: 150px;
    }
    .product{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      width: 200px;
    }

    .dethele {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid lightgray;
      margin: 100px;
    }


  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {

  }

  .fragtogtotal{
    margin-top: 30px;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .rundtomprodukter{
    display: flex;
    flex-direction: row;
    width: 250px;
    justify-content: flex-end;
  }

  #myBtn{
    border: none;
    background-color: white;
  }

  #myBtn2{
    border: none;
    background-color: white;
  }

  .sletknappen{
    border: none;
    background-color: white;
  }

  .freefragt{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .doner{
    width: 150px;
  }

  .rundtombilledejord{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .produktnavnet{
    display: flex;
    align-items: center;
    width: 250px;
  }

  .billedeholderprodukter{
    width: 200px;
  }

  .product-title{
    width: 250px;
  }

  .quantityover{
    width: 100px;
  }

  .linjeunder{
    width: 100%;
    align-self: center;
  }

  .overlinje{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grontekst{
    color: var(--darkgreen);
    font-size: 16px;
  }

  .basketTotalTitle{
    margin-right: 30px;
  }

  .afstandfragt{
    margin-right: 38px;
  }

  .minus{
    display: flex;
    justify-content: center;
    width: 20px;
    font-family: basic-sans, sans-serif;
    font-weight: 300;
    font-size: 40px;
    cursor: pointer;
  }

  .plus{
    display: flex;
    justify-content: center;
    width: 20px;
    font-family: basic-sans, sans-serif;
    font-weight: 300;
    font-size: 35px;
    padding-bottom: 5px;
    cursor: pointer;
  }

  .overingenplus{
    display: flex;
    flex-direction: row;
    width: 315px;
    justify-content: space-between;
  }

