
*{
  box-sizing: border-box;
  margin: 0;
}


  :root {
    /* farver */
    --lightgreen: #A5BCB1;
    --darkgreen: #105C4C;
    --black: #000000;
    --white: #ffffff;

     /* fonte */
     --menu: Rift soft, regular;
  }

    html, body{
      width: 100%;
      height: 100%;
      margin: 0;
    }
  
    
  h1{
    font-family: Basic sans;
    font-weight: semibold;
    font-size: 100px;
  }
  
  h2{
    font-family: Basic sans;
    font-weight: semibold;
    font-size: 60px;
    }

 h3{
    font-family: Basic sans;
    font-weight: semibold;
    font-size: 30px;
}

h6{
  font-family: basic-sans, sans-serif;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}

p{
    font-family: basic-sans, sans-serif;
    font-weight: regular;
    font-size: 16px;
}

 /*Forside hero billede*/
 .baggrundsbilledeindex{
  position: relative;
}



/*Forside sektion 1*/
.centerdivindex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.designselvsektion{
  text-align: center;
  top: 1000px;
  width: 800px;
  height: 500px;
  background: rgba( 226, 222, 222, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 14.5px );
  -webkit-backdrop-filter: blur( 14.5px );
  border-radius: 40px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  position: absolute;
  margin-top: -270px;
}

.palleindex{
  width: 600px;
  margin-top: 5px;
}

.headpalle{
  margin-top: 5px;
}

.knap {
  border: none;
  color: white;
  padding: 15px 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
  background-color: var(--darkgreen);
}

.undertekstikon{
  margin-top: 5px;
}


/*Forside sektion 2 - ikoner/vores hynder*/
.yderdivvoreshynder{
  margin-top: 350px;
  text-align: center;
  background-color: var(--lightgreen);
  padding-top: 70px;
  padding-bottom: 5px;
}

.ikonindexdiv{
  width: 250px;
  margin: 20px;
}

.ikonbilledeindex{
  width: 100px;
}

.voreshynderflex{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 70px;
}

.ikontekstindex{
  margin-top: 20px;
}


/*Forside sektion 3 - bestsellers*/

.yderdivbestsellers{
  margin-top: 50px;
  text-align: center;
}

.bestsellersbilledeindex{
  width: 250px;
}

/*Forside sektion 4 - certifikater*/
.yderdivvorescertifikater{
  margin-top: 100px;
  text-align: center;
  background-color: var(--lightgreen);
  padding-top: 70px;
  padding-bottom: 5px;
}

.certifikatbilledeindex{
  width: 150px;
}

/*Forside sektion 4 - Bæredygtighed*/
.flexbaeredygtighed{
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin: 40px;
}

.earthgif{
  width: 650px;
}

/* Chat */
/* Knap til at åbne chatten, og holde den fixed */
.open-button {
  background-color: #105C4C;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 150px;
  border-radius: 25px;
}

/* Popup chatten - skjult default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid white;
  z-index: 9;
  border-radius: 30px;
}

/* Styles til form-containeren */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  border-radius: 25px;
}

/* Tekstområde*/
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
  font-family: basic-sans, sans-serif;
  border-radius: 25px;
}

/* Når tekstområdet aktiveres*/
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Style af send knappen */
.form-container .btn {
  background-color: #105C4C;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  font-family: basic-sans, sans-serif;
  border-radius: 25px;
}

/* Style af annuller knappen */
.form-container .cancel {
  background-color: #A5BCB1;
  font-family: basic-sans, sans-serif;
  border-radius: 25px;
}

/* Hover effekt på alle knapperne*/
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

  /*Mediarules*/
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
  
    /*Forside sektion 1*/
    .designselvsektion{
      top: 520px;
      width: 350px;
      height: 350px;
    }

    .headpalle{
      font-size: 25px;
      margin-top: 30px;
    }

    .teksttilheadpalle{
      font-size: 16px;
    }

    .palleindex{
      width: 300px;
    }

    .knap {
      padding: 15px 100px;
      font-size: 16px;
      margin-top: 20px;
    }

/*Forside sektion 2 - ikoner/vores hynder*/

    .yderdivvoreshynder{
      margin-top: 220px;
    }

    .voreshynderheading{
      font-size: 30px;
    }

    .voreshynderflex{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

     /*Forside sektion 3 - bestsellers*/
    .prisindex{
      font-size: 20px;
    }

    /*Forside sektion 4 - Bæredygtighed*/
  .flexbaeredygtighed{
    display: flex;
    flex-direction: column-reverse;
  }

  .earthgif{
    width: 350px;
    margin-top: 20px;
  }

  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {

    /*Forside sektion 1*/
    .designselvsektion{
      top: 600px;
      width: 500px;
      height: 370px;
    }

    .headpalle{
      font-size: 25px;
      margin-top: 30px;
    }

    .palleindex{
      width: 300px;
    }

    .knap {
      padding: 15px 100px;
      font-size: 16px;
      margin-top: 20px;
    }


/*Forside sektion 2 - ikoner/vores hynder*/
  .yderdivvoreshynder{
    margin-top: 280px;
  }

  .voreshynderheading{
    font-size: 30px;
  }

  .voreshynderflex{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

    /*Forside sektion 4 - Bæredygtighed*/
    .flexbaeredygtighed{
      display: flex;
      flex-direction: column-reverse;
    }
  
    .earthgif{
      width: 550px;
      margin-top: 20px;
    }


  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    

    /*Forside sektion 1*/
    .designselvsektion{
      top: 700px;
      width: 600px;
      height: 350px;
    }

    .headpalle{
      margin-top: 30px;
    }

    .teksttilheadpalle{
      font-size: 16px;
    }

    .palleindex{
      width: 400px;
    }

    .knap {
      padding: 15px 100px;
      font-size: 16px;
      margin-top: 15px;
    }

/*Forside sektion 2 - ikoner/vores hynder*/
    .yderdivvoreshynder{
      margin-top: 250px;
    }

    .voreshynderheading{
      font-size: 40px;
    }

    .ikontekstindex{
      font-size: 30px;
    }

    .undertekstikon{
      font-size: 16px;
    }

  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {

    /*Forside sektion 1*/
    .designselvsektion{
      top: 800px;
      width: 800px;
      height: 400px;
    }

    .headpalle{
      font-size: 25px;
      margin-top: 30px;
    }

    .teksttilheadpalle{
      font-size: 20px;
    }

    .palleindex{
      width: 550px;
    }

    /*Forside sektion 2 - ikoner/vores hynder*/
  .yderdivvoreshynder{
    margin-top: 270px;
  }

  .voreshynderheading{
    font-size: 30px;
  }


  .ikontekstindex{
    font-size: 20px;
  }

  .undertekstikon{
    font-size: 16px;
  }

  .voreshynderflex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

    /*Forside sektion 4 - Bæredygtighed*/
    .flexbaeredygtighed{
      display: flex;
      flex-direction: row;
    }
  
    .earthgif{
      width: 450px;
    }

  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
   
    /*Forside sektion 1*/
    .designselvsektion{
      top: 990px;
      width: 800px;
      height: 450px;
    }

    .headpalle{
      font-size: 40px;
      margin-top: 30px;
    }

    .teksttilheadpalle{
      font-size: 16px;
    }

    .palleindex{
      width: 550px;
    }
    
    /*Forside sektion 2 - ikoner/vores hynder*/
    .yderdivvoreshynder{
      margin-top: 350px;
    }

    /*Forside sektion 3 - Bestsellers*/
    .bestsellersflexindex{
      justify-content: space-around;
    }

    .bestsellersindhold{
      margin-left: -130px;
    }

    .bestsellersbilledeindex{
      width: 350px;
    }

    /*Forside sektion 4 - Bæredygtighed*/
    .earthgif{
      width: 550px;
    }
  }
  
